img{
    border-radius: 50%;
    margin-left: 25px;
    margin-top: -25px;
    height: 296px;
}
.name{
    font-style: normal;
    margin-left: 25px;
    font-size: 20px;
    line-height: 24px;
    font-weight: var(--base-text-weight-light,300);
}
.btn{
    margin-left: 25px;
    width: 30%;
    margin-top: 20px;
    
}
button{
    width: 296px;
   height: 32px;
    border-radius: 8px;
    margin-bottom: 25px;
}
