<hr>&nbsp;&nbsp;
<footer>

    <div class="bar5">
    <ul>
        <div class="abc">
        <li><i class="fa fa-github"></i>© 2022 GitHub, Inc. </li>
    </div>
        <li><a>Terms</a></li>
        <li><a>Privacy</a></li>
        <li><a>Security</a></li>
        <li><a>Satatus</a></li>
        <li><a>Contact GitHub</a></li>
        <li><a>Prising</a></li>
        <li><a>API</a></li>
        <li><a>Training</a></li>
        <li><a>Blog</a></li>
        <li><a>About</a></li>
    </ul>
</div>
</footer>